body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color:black;
    height: 60px;
}
main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 16px;
    width: 75%;
}
.redes-sociais ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais {
    width: 20%;
    float: right;
}
.header2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;

}
.menu-urls {
    height: 80px;
    border-bottom: 1px solid gray;
}
.menu ul li a:hover{
    color: #83AF9B;

}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 45px;
}
.menu ul li:hover{
    border-bottom: 3px solid #83AF9B;
}
.menu ul li a {
    text-decoration: none;
    color: #8b8b8b;
    font-size: 18px;
    text-transform: uppercase;
     
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 25%;
    float: right;
}
.busca input {
    background-image: url('../Imagens/icone-search.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 10px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    border: 1px solid grey;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
/*estilisando botões foi usado o slick-slider para os slider*/
button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background: transparent;
    background-image: url("../Imagens/anterior.png");
    position: absolute;
    z-index: 9;
    top: 34%;
    left: 20%;
}
button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background: transparent;
    background-image: url("../Imagens/proximo.png");
    position: absolute;
    z-index: 9;
    top: 34%;
    right: 20%;
}
.slick-list {
    width: 100%;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 2px solid white;
    background: transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 420px;
    
}
li.slick-active button {
    border: none;
    background: #83AF9B;
}

.slick-dots li {
    padding: 5px;
    display: inline-block;
}
.texto-destaque h1{
    font-size: 28px;
    text-transform: uppercase;
}
.texto-destaque {
    text-align: center;
}
.texto-destaque p {
    font-size: 18px;
    color: #6d6d6d;  
}
.col-3 {
    width: 30%;
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.bloco-texto {
    margin-top: 3em;
}